h1{
    font-weight: 700;
    font-size: 50px;
    margin: 30px 10px;
    color: rgb(28, 233, 182);
}

input{
    width: 70%;
}

.items{
    margin-top: 10px;
}

button{
    min-width: 90px;
}

.my_row{
    margin-top: 20px;
    text-align: left;
}

.my_row div{
    font-weight: 700;
}

center{
    font-weight: 700;
    font-size: 50px;
    margin-top: 50px;
    color: palevioletred;
}
